body {
	display: flex;
	height: 95%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #356e8c;
}

input {
	border: 3px solid #ccc;
	padding: 12px;
	margin: 6px;
	text-align: center;
	border-radius: 3px;
	font-family: 'Economica', sans-serif; font-size: 20px;
	color: #155475;
}

input:focus { 
	border: 3px solid #155475;
	text-align: center;
	color: #155475;
}

label {
	font-size: 22px;
	color: #fff;
	font-family: Economica, sans-serif;
}

.title {
	text-align: center;
	font-size: 48px;
	margin: 12px;
	color: #fff;
	font-family: Economica, sans-serif;
}

#output {
	font-size: 30px;
	background-color: #155475;
	border: 2px solid #e7e7e7;
	border-radius: 6px;
	color: #fff;
	padding: 12px 12px;
	text-align: center;
	font-family: 'Economica', sans-serif;
	margin: 6px;
}

#checklabel {
	font-size: 15px;
}

#button {
	background-color: #155475;
	border: 2px solid #e7e7e7;
	border-radius: 6px;
	color: #fff;
	padding: 12px 6px;
	text-align: center;
	font-size: 22px;
	cursor: pointer;
	font-family: 'Economica', sans-serif;
	width: 222px;
	margin: 6px;
}	

#button:hover {
	box-shadow: 0px 0px 12px 0px #fff;
}

:-ms-input-placeholder {
	font-family: 'Economica', sans-serif;
	font-size: 20px;
}